<%= form_for [@question, @answer, correction] do |f| %>
  <% if correction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(correction.errors.count, "error") %> prohibited this correction from being saved:</h2>

      <ul>
      <% correction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "Содержание" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>
